<head>
    <style>
         *{background-color: #FFFACD}
         @font-face { font-family: 'YunTaemin'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YunTaemin.woff') format('woff'); font-weight: normal; font-style: normal; }
         h1 {font-family: 'YunTaemin'; font-size: 60px}
         a:hover{
            background-color: hotpink
        }
    
    </style>
</head>

<body>
    <h1>About</h1>

    <p>안녕하세요, 이곳은 글자를 세 주는 멋쟁이 사자처럼의 워드 카운트 웹페이지입니다.
    <br>
    여기에서 글자를 세세요.
    </p>
        
    <a href="{% url 'home' %}">Home으로 돌아가기</a>
</body>
